/* Root */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --logo-img: url("./images/logo.svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
main {
  position: relative;
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in-out;
}

button {
  background-color: transparent;
  height: 80px;
  width: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  z-index: 5;
}

button > i {
  font-size: 3rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  width: 450px;
  margin-top: 50px;
}

li > a {
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
  padding: 10px;
}

#navbar-container {
  height: 100vh;
  width: 25rem;
  border-right: 1px solid rgb(194, 194, 194);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  left: -25rem;
  transition: left 1s ease-in-out;
}

#logo {
  background-image: var(--logo-img);
  background-position: center;
  background-size: cover;
  height: 40rem;
  width: 30rem;
  position: absolute;
  top: 50px;
}

#social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  bottom: 5%;
  height: 250px;
}

#social > a {
  font-size: 2.5rem;
  color: black;
  padding: 10px;
}

@media screen and (max-width: 1500px) {
  #logo {
    height: 10rem;
    width: 10rem;
  }
  li > a {
    font-size: 1.5rem;
  }

  li > a:hover {
    border-bottom: 2px solid greenyellow;
    padding: 5px 0;
  }

  ul {
    height: 300px;
    width: 300px;
  }

  #social {
    height: 150px;
    bottom: 10px;
  }
  #social > a {
    font-size: 1rem;
  }

  #social > a:hover {
    color: rgb(159, 247, 27);
  }

  #navbar-container {
    width: 20rem;
  }

  button {
    cursor: pointer;
  }
}
